.inputBase {
    font-family: "Poppins", sans-serif !important;
    font-size: 1.1rem;
    font-weight: 400;

    padding: 12px 20px;
    background: transparent;
    
    
    border: 1px solid #501D86;
    border-radius: 4px;

    outline: none !important;

    transition: box-shadow .2s ease-in-out, border .2s ease-in-out;

    -webkit-appearance: none;
    appearance: none;
}

.inputBase:hover {
    -webkit-box-shadow: 0px 5px 20px -7px rgba(80,29,134,1);
    -moz-box-shadow: 0px 5px 20px -7px rgba(80,29,134,1);
    box-shadow: 0px 5px 20px -10px rgba(80,29,134,1);
}

.inputBaseErr {
    border: 1px solid rgb(142, 49, 49);
}

.inputBaseErr:hover {
    -webkit-box-shadow: 0px 5px 20px -7px rgba(142, 49, 49,1);
    -moz-box-shadow: 0px 5px 20px -7px rgba(142, 49, 49,1);
    box-shadow: 0px 5px 20px -10px rgba(142, 49, 49,1);
}

.inputContainer {
    position: relative;
}

.inputContainer::after {
    content: "▼";
    display: block;

    font-size: 1rem;
    color: #501D86;

    position: absolute;
    z-index: -99;

    top: 50%;
    right: 15px;
    transform: translate(0, -50%);
}

.inputContainerErr::after {
    color: rgb(142, 49, 49);
}