.dateContainer, 
.dateContainer .rmdp-container {
    width: 100%;
}

.dateContainer input {
    font-family: "Poppins", sans-serif !important;
    font-size: 1.1rem;
    font-weight: 400;

    padding: 12px 20px;
    background: transparent;
    
    
    border: 1px solid #501D86;
    border-radius: 4px;

    outline: none !important;

    transition: box-shadow .2s ease-in-out, border .2s ease-in-out;
}