.eventContainerCard {
    background: transparent;

    width: 100%;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0px;

    overflow: hidden;

    margin-bottom: 30px;
}

.eventDateCard {
    grid-column: span 2;
    height: 100%;
    border-right: 1px solid black;
}

.eventImageCard {
    grid-column: span 3;
    height: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
}

.eventNoImageCardContainer {
    width: 100%; 
    height: 100%; 
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start;
     align-items: center; 
     padding: 20px;
}

.eventContentCard {
    grid-column: span 10;
    height: max-content;
    padding: 20px 10px 20px 30px;
}

/* content */
.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;

}

.dateStr {
    font-weight: 1.2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 5px;
}

.title {
    font-weight: 700;
    font-size: 1.4rem;
}

.subtitleDate {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.3rem;
    text-align: center;
    width: 80%;
    margin-top: 5px;
}

.eventNoImageCardFirstHr {
    margin-top: 15px;
    margin-bottom: 2px;
}

.eventNoImageCardLasttHr {
    margin-bottom: 15px;
}

.eventNoImageCardEventCategoryTitle {
    text-align: center;
    font-weight: 700;
}

.eventNoImageCardEventCategoryBody {
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

.providerStr {
    font-weight: 600;
    font-size: 1.2rem;
    text-align: start;
    flex-grow: 1;
}

.address {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    text-decoration: none;
    color: black !important;
    font-weight: 600;
}

.address svg {
    color: #501D86;
    margin-right: 5px;
    width: 1em;
    display: inline-block;

}

.description {
    margin-top: 20px;
    margin-bottom: 25px;
    max-width: 1100px;
}

.extraDetailsStr {
    font-weight: 300;
    color: black;
}

.linkContainer {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.linkBtn {
    text-decoration: none;
    font-weight: 700;
    color: white;
    background: #501D86;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.costInfo {
    font-size: 1.2rem;
}