.carouselContainer {
  display: flex;
  justify-content: center;
  padding: 36px;
  background-color: var(--primary10-color);
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: auto;
}

.slide {
  border-radius: 0.5rem;
  box-shadow: 0 0 7px #666;
  pointer-events: none;
  width: 100%;
  height: auto;
  opacity: 0;
  transition: opacity 4s ease-in-out;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeInAnimation 2s ease-in-out forwards;
}

.slideHidden {
  display: none;
}

/* Media Query for Tablets */
@media screen and (min-width: 768px) and (max-width: 992px) {
  .carousel {
    width: 700px;
  }
}

/* Media Query for Mobile */
@media screen and (min-width: 320px) and (max-width: 769px) {
  .carousel {
    width: 350px;
  }
}
