.carouselContainer {
  display: flex;
  justify-content: center;
}

.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 400px;
}

.slide {
  border-radius: 0.5rem;
  box-shadow: 0 0 7px #666;
  pointer-events: none;
  width: 100%;
  height: auto;
}

.slideHidden {
  display: none;
}

.arrow {
  position: absolute;
  width: 2rem;
  height: 2rem;
  color: white;
  filter: drop-shadow(0 0 5px #555);
}

.arrow:hover {
  cursor: pointer;
}

.arrowLeft {
  left: 1rem;
}

.arrowRight {
  right: 1rem;
}

.indicators {
  display: flex;
  position: absolute;
  bottom: 1rem;
}

.indicator {
  background-color: white;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  border: none;
  outline: none;
  box-shadow: 0 0 5px #555;
  margin: 0 0.2rem;
  cursor: pointer;
}

.indicatorInactive {
  background-color: grey;
}
