:root {
  --primary-color: #501d86;
  --primary10-color: #503c5c;
  --primary20-color: #25054d;
  --secondary-color: #e03997;
  --text-color: #ffffff;
  --text-secondary-color: #000;
  --text-secondary10-color: #656565;
  --grid-background-color: #fafafa;
}

.heroSection {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-secondary-color);
  padding: 20px 14px 16px 14px;
  margin-bottom: 8px;
}

.headingsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 48px;
  margin-bottom: 32px;
}

.heading {
  font-size: 3.5rem;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.02rem;
}

.heading > span {
  background-clip: var(--text-secondary-color);
  font-size: 5.6rem;
  background: -webkit-linear-gradient(#501d86, #00d4ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subheadingContainer {
  max-width: 48rem;
}

.subheading {
  font-size: 1.25rem;
  margin-top: 40px;
  text-align: center;
  margin: 32px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.heroBtn {
  border: none;
  border-radius: 5px;
  padding: 12px 32px;
  background-color: var(--primary-color);
  color: var(--text-color);
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: var(--primary-color);
  background-color: var(--text-color);
  border: solid 1px var(--primary-color);
}

.heroBtn:hover,
.heroBtn:focus {
  background-color: coral;
}

.link:hover,
.link:focus {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.slideshowContainer {
  width: 100%;
  height: 600px;
}

/* Query for mobile devices */
@media screen and (min-width: 320px) and (max-width: 1024px) {
  .heading {
    font-size: 2.5rem;
  }
}
