.section {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-secondary-color);
    padding: 10px 5% 50px 5%;
    margin-bottom: 8px;
    overflow-x: hidden;
    position: relative;
}

.eventHeading {
    margin-top: 6rem;
    font-size: 2rem;
    text-align: center;
}

.hrLine {
    margin-top: 1rem;
    margin-bottom: 3rem;
    background: black;
    width: 90%;
    max-width: 450px;
}

/* Media Query for Tablets */
@media screen and (min-width: 768px) and (max-width: 992px) {
    .eventHeading {
        margin-top: 4rem;
    }
}

/* Media Query fro Mobile */
@media screen and (max-width: 768px) {
    .eventHeading {
        margin-top: 2rem;
    }
    .hrLine {
        margin-bottom: 0px;
    }
}