.slideShowContainer {
  padding: 2.6rem;
  background-color: var(--primary-color);
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.photoContainer {
  border-radius: 8px;
  max-width: 100%;
}

.photo {
  border-radius: 8px;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}
