:root {
  --primary-color: #501d86;
  --secondary-color: #e03997;
  --text-color: #ffffff;
  --background-color: #f4f4f4;
  --background10-color: #626262;
}

header {
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  background-color: var(--background-color);
  color: var(--text-color);
}

.somosLogo {
  width: 200px;
}

.somosLogoSidebar {
  display: none;
}

.socialLogos {
  display: none;
}

nav a {
  margin: 0 2rem;
  color: black;
  text-decoration: none;
  font-size: 1.3rem;
}

nav a:hover {
  color: var(--secondary-color);
}

header .navBurger {
  padding: 2px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--background10-color);
  display: none;
  font-size: 1.8rem;
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  /* show navBtns on smaller screens */
  .somosLogo {
    width: 150px;
  }

  .somosLogoSidebar {
    display: block;
    width: 150px;
    margin-top: 40px;
  }

  header .navBurger {
    display: block;
  }

  header nav {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;
    background-color: rgba(80, 29, 134);
    transition: right 1s;
  }

  header .navOpen {
    right: 0;
  }

  .logoLinkSidebar {
    margin-bottom: 30px;
    text-decoration: none;
  }

  .socialLogos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
  }

  .socialLogos a {
    font-size: 2.5rem;
  }

  nav .navCloseBtn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: var(--text-color);
  }

  nav a {
    font-size: 2rem;
    display: block;
    color: var(--text-color);
  }
}
